<%
# Created S/17/08/2019
# Updated M/25/02/2020
#
# Copyright 2008-2020 | Fabrice Creuzot (luigifab) <code~luigifab~fr>
# https://www.luigifab.fr/redmine/apijs
#
# This program is free software, you can redistribute it or modify
# it under the terms of the GNU General Public License (GPL) as published
# by the free software foundation, either version 2 of the license, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but without any warranty, without even the implied warranty of
# merchantability or fitness for a particular purpose. See the
# GNU General Public License (GPL) for more details.

text = ''
data = (Useragentparser.new).parse()

if data['browser'] && data['version']
  data['version'] = Thread.current[:request].query_parameters[:browser] ? 1 : data['version'].to_f
  if (data['browser'] == 'MSIE') && (data['version'] < 14)
    text = raw l(:apijs_browser_warning, { n: 'Internet Explorer', v: data['version'], l: 'href="https://www.microsoft.com/windows/microsoft-edge"' })
  elsif (data['browser'] == 'Edge') && (data['version'] < 14)
    text = raw l(:apijs_browser_warning, { n: 'Edge', v: data['version'], l: 'href="https://www.microsoft.com/windows/microsoft-edge"' })
  elsif (data['browser'] == 'Firefox') && (data['version'] < 27)
    text = raw l(:apijs_browser_warning, { n: 'Firefox', v: data['version'], l: 'href="https://www.mozilla.org/firefox"' })
  elsif (data['browser'] == 'Chrome') && (data['version'] < 29)
    text = raw l(:apijs_browser_warning, { n: 'Chrome', v: data['version'], l: 'href="https://www.google.com/chrome"' })
  elsif (data['browser'] == 'Opera') && (data['version'] < 17)
    text = raw l(:apijs_browser_warning, { n: 'Opera', v: data['version'], l: 'href="https://www.opera.com/"' })
  elsif (data['browser'] == 'Safari') && (data['version'] < 9)
    text = raw l(:apijs_browser_warning, { n: 'Safari', v: data['version'], l: 'href="https://www.apple.com/safari/"' })
  end
end
%>
<% if text.length > 0 %>
	<div class="flash error apijs" id="oldBrowser"><%= text %></div>
<% end %>