Source: redmine-plugin-apijs
Section: web
Priority: optional
Maintainer: Fabrice Creuzot <code@luigifab.fr>
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no
Standards-Version: 4.6.0.1
Homepage: https://github.com/luigifab/redmine-apijs
Vcs-Browser: https://github.com/luigifab/redmine-apijs
Vcs-Git: https://github.com/luigifab/redmine-apijs.git

Package: redmine-plugin-apijs
Architecture: all
Pre-Depends: redmine
Depends: redmine (>= 2.0.0), ruby (>= 1.9), python3-pil, python3-scour, libimage-exiftool-perl, ${misc:Depends}
Recommends: ffmpegthumbnailer
Enhances: redmine
Description: plugin for Redmine to display a gallery from attachments
 This plugin integrates apijs JavaScript library into Redmine.
 For more information about the library, go to luigifab.fr/apijs.
 .
 This plugin allows:
   * to sort out attachments in alphabetical order
   * to display a photo/video gallery from attachments
   * to display videos in streaming (HTTP 206 Partial Content)
   * to keep the animation of GIF/PNG/WEBP images thanks to Pillow
   * to redefine the date of creation of the photos from the EXIF date
   * to modify the description of attachments
   * to rename and remove attachments
