#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_update_autotools_config:
	sed -i "s/ version '[0-9].[0-9].[0-9]/&-deb/g" src/init.rb
	sed -i 's/\#\!\/usr\/bin\/env python/\#\!\/usr\/bin\/python3/g' src/lib/*py
