/**
 * Created D/15/12/2013
 * Updated S/02/05/2020
 *
 * Copyright 2008-2020 | Fabrice Creuzot (luigifab) <code~luigifab~fr>
 * https://www.luigifab.fr/redmine/apijs
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& dialogues &&& */
#apijsDialog { margin:0; }

#apijsBox { font-size:0.8rem; border:0; }
#apijsBox a { color:blue; }

#apijsBox.options.editattachment input[type="text"] {
	display:block; padding:0.3em; width:calc(100% - 4px - 0.6em);
	border:1px solid #888; background-color:#EEE;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& albums et listes &&& */
body div.attachments.album { margin:1em 0; text-align:left; }
body div.attachments.album dd { position:relative; margin:0.5em 0 0 0.15em; min-height:1.8em; }
body div.attachments.album dd.big { min-height:5em; }
body div.attachments.album dd div { float:right; }

body div.attachments.album dd span {
	display:block; line-height:16px; overflow:hidden;
	font-size:inherit; color:inherit; white-space:nowrap; text-overflow:ellipsis;
}

body div.attachments.album dd span:first-child { margin-right:60px; }

body ul.attachments { margin:1em 0; padding:0; list-style:none; }
body ul.attachments li { padding:0.25em 0.5em; transition:background-color 0.3s; }
body ul.attachments li:hover { background-color:#EFEFEF; }

body ul.attachments li a { vertical-align:middle; }
body ul.attachments li strong { padding:0 0.3em; }
body ul.attachments li span { padding:0 0.1em; }
body ul.attachments li span.size { color:gray; }
body ul.attachments li span.date { color:gray; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& boutons &&& */
body button.attachment, body ul.attachments a[id^="slideshow"] {
	display:inline-block; padding:0; width:16px; height:16px; vertical-align:middle;
	text-decoration:none !important; border:0; background-color:transparent; cursor:pointer; opacity:0.75;
}

body button.attachment.show, body ul.attachments a[id^="slideshow"] { background-image:url("../../../images/magnifier.png"); }
body button.attachment.download { background-image:url("../../../images/attachment.png"); }
body button.attachment.delete { background-image:url("../../../images/delete.png"); }
body button.attachment.edit { background-image:url("../../../images/edit.png"); }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& configuration &&& */
body fieldset.apijs.tabular.settings { margin:1em; padding:0.5em; border:1px solid #CCC; }
body fieldset.apijs.tabular.settings p span.cmd { white-space:pre-wrap; }
body fieldset.apijs.tabular.settings p em.info { margin:0.2em 0; line-height:140%; }
body fieldset.apijs.tabular.settings p a + em.info { margin:0; }
body fieldset.apijs.tabular.settings p label.bis { margin-left:1px; margin-right:0.7em; width:auto; }
body fieldset.apijs.tabular.settings p label.bis input { margin:0; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& navigateur &&& */
body .flash.error.apijs { margin:0; border:0; border-radius:0; font-size:11px; }