/**
 * Copyright 2009-2012 | Fabrice Creuzot (luigifab) <code~luigifab~info>
 * https://redmine.luigifab.info/projects/redmine/wiki/apijs
 * (3.0.1) http://www.luigifab.info/apijs
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL).
 */

#box { display:block; }
#box div.control button { padding:2px 0.7em 2px 25px; font-size:11px; font-weight:normal; }
#box div.navigation.txt button { font-size:10px; background:#444 !important; }

#box h1 { background-image:url("../images/icons/32/sprites.png") !important; }
#box p.saving { background-image:url("../images/dialog/saving.png") !important; }

#box .nodisplay { display:none !important; }
#box .novisible { visibility:hidden !important; }

#box div.control button.cancel  { background-image:url("../images/icons/16/silk-cancel.png") !important; }
#box div.control button.confirm { background-image:url("../images/icons/16/silk-accept.png") !important; }

#box.photo dl dt a span { background-image:url("../images/icons/24/gnome-zoom-in.png") !important; }
#box.photo dl dt img.loading  { background-image:url("../images/dialog/loading.png") !important; }
#box.photo dl dt img.error_en { background-image:url("../images/dialog/404fr.png") !important; }
#box.photo dl dt img.error_fr { background-image:url("../images/dialog/404fr.png") !important; }

#box dl dd { margin:0; }
#box dl dd a.download, #box div.close.txt button.close, #box div.close button.close img { font-size:9px; }
#box div.close.txt button.close { padding:0.25em 0.6em 0.1em; }

.icon-file.video { background-image:url("../images/icons/16/silk-film.png"); }
